.clockTable {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(182, 180, 190);
    height: 80vh;
    width: 70%;

    &__clock {
        width: 200px;
        height: 150px;

        &_moscow {
            background: crimson;
        }

        &_la-pas {
            background: powderblue;
        }

        &_new-york {
            background: salmon;
        }
    }
}